/*My Main Desktop Screen-size
@media screen and (max-width: 1250px) {
    body {
        justify-content: center;
    }

}*/

/*Laptop Screen-size*/
@media screen and (max-width: 1250px) {
    body {
        justify-content: center;
    }

    .home-container {
        height: 30%;
    }
    /*Home page*/
    .home-leftcontainer h2 {
        font-size: 35px;
        text-align: left;
    }

    .home-leftcontainer h3 {
        font-size: 22px;
        text-indent: 30px;
        position: relative;
        right: 10vh;
    }

    .navbtn a {
        position: relative;
        left: -5vh;
    }

    /*reviews page*/
    .left-rdiv .circle-icon {
        height: auto;
        width: 27vh;
        position: relative;
        top: -4vh;
    }

    .left-rdiv h3 {
        font-size: 44px;
    }

    .left-rdiv h2 {
        font-size: 24px;
    }

    .fd h2 {
        position: relative;
        width: 40%;
        top: -23vh;
        left: 30vh;
    }

    .fd p {
        position: relative;
        top: -20vh;
        right: 10vh;
    }

    /*About page*/
    .container-swiper {
        position: relative;
        top: 25vh;
    }

    .img-container {
        left: 91.5vh;
        width: 71.5%;
    }

    .slider-wrapper {
        margin: 0 170px 55px;
        height: 100%;
    }

    .card-list .card-item .more-details {
        margin-top: 1vh;
    }

    .floatbox {
        position: absolute;
        left: 100vh;
    }

    .floatbox .profile-img {
        top: 8vh;
        left: 20px;
    }

    .floatbox .profile-name {
        left: -18vh;
        font-size: 34px;
    }

    .floatbox .profile-motto {
        font-size: 20px;
        right: 18vh;
    }

    .floatbox ul {
        font-size: 20px;
        right: 20vh;
    }

    #profile-kert,
    #profile-mikel,
    #profile-bacani,
    #profile-faith,
    #profile-nashley,
    #profile-gadiel,
    #profile-gaufo,
    #profile-corcelles,
    #profile-precious,
    #profile-mendez,
    #profile-kerby,
    #profile-ellah,
    #profile-diez {
        left: 63vh;
        top: 12vh;
        height: 85vh;
        width: 90vh;
    } 

    #profile-kert .profile-name {
        left: -10vh;
    }

    #profile-faith .profile-name {
        left: -7vh;
    }

    #profile-mikel .profile-name {
        left: -3vh;
    }

    #profile-bacani .profile-name {
        left: -10vh;
        top: -30vh;
    }

    #profile-nashley .profile-name {
        left: -10vh;
    }

    #profile-gadiel .profile-name {
        left: -9vh;
    }

    #profile-corcelles .profile-name {
        left: -9vh;
        top: -28vh;
    }   

    #profile-precious .profile-name {
        left: -3vh;
        font-size: 30px;
    }

    #profile-precious .profile-motto {
        left: 40vh;
        font-size: 18px;
    }

    #profile-mendez .profile-name {
        left: -9vh;
    }

    #profile-mendez .profile-motto {
        font-size: 18px;
        left: 38vh;
    }

    #profile-ellah .profile-name {
        left: -9vh;
    }

    #profile-ellah ul {
        left: 6vh;
        font-size: 19px;
    }

    #profile-ellah .ed-at {
        left: 4vh;
    }

    #profile-ellah .Skills {
        left: 4vh;
    }

    #profile-diez .profile-name {
        left: -14vh;
    }

    #profile-diez ul {
        left: 6vh;
        font-size: 19px;
    }

    #profile-diez .ed-at {
        left: 4vh;
    }

    #profile-diez .Skills {
        left: 4vh;
    }

    #profile-kerby .profile-name {
        left: -7vh;
    }

    .close-btn {
        width: 40px;
        height: auto;
        font-size: 30px;
    }

    .Profile-Team img {
        left: 13vh;
    }

    .Designers-container p {
        position: relative;
        top: 10vh;
    }

    .CEO-container p {
        position: relative;
        top: 12vh;
    }

    .Programmers-container p {
        position: relative;
        top: 15vh;
    }

    .About-page h2 {
        padding-bottom: 30px;
    }

    .language-container img {
        left: 16vh;
        width: 120px;
    }

    .WebDev-container .See_more {
        position: relative;
        top: 20vh;
        left: 13vh;
    }

    .WebDev-container h5 {
        position: relative;
        top: 15vh;
    }

    .Java-container .See_more {
        position: relative;
        top: 19vh;
        left: 12vh;
    }

    .Java-container h5 {
        position: relative;
        top: 13vh;
    }

    .AndroidApp-container .See_more {
        position: relative;
        top: 6vh;
        left: 12vh;
    }

    .AndroidApp-container h5 {
        position: relative;
        top: 4vh;
    }

    .Portfolio-page h2 {
        font-size: 50px;
    }

    .language-container .WebDev-container,
    .Java-container,
    .AndroidApp-container {
        margin-top: 10px;
        width: 50vh;
    }

    .ContactBTN {
        width: 21vh;
    }

    .right-container h3 {
        font-size: 35px;
        padding: 20px;
    }

    .right-container .input-box {
        margin-top: 45px;
    }

    .text-details {
        margin: 60px 0;
        padding: 10px;
    }

    .text-details p {
        font-size: 17px;
        padding: 30px;
    }
}

/*Mobile Screen-size*/
@media screen and (max-width: 620px) {
    /*Home Page*/
    
    .img-container {
        display: none;
    }

    .navbar-links.active,
    .navbar-links {
        display: block;
    }

    .menu-btn {
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: 100%;
        top: 65px;
        gap: 0;
        flex-direction: column;
        background-color: #181920;
        width: 38%;
        text-align: center;
        transition: .3s;
    }

    .nav-item {
        margin: 16px 0;
        padding-left: 10vh;
    }

    .nav-menu.active {
        left: 60vh;
    }

    .credits {
        display: none;
    }

    .footerContainer-homepage {
        display: flex;
    }
    
    /*Reviews page*/

    .Reviews-div {
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }

    .left-rdiv {
        width: 100%;
    }

    .left-rdiv .circle-icon {
        height: auto;
        width: 130px;
    }

    .fd-text {
        
    }

    .fd h2 {
 
    }

    .fd p {

    }

    .right-rdiv {
        height: 190vh;
        width: 100%;
    }

    .reviewContainer {
        width: auto;
        height: 160vh;
    }

    .reviewContainer .imgContainer {
        width: auto;
    }

    /*About page*/
    .About-page {
        padding-top: 65px;
        top: 40vh;
        height: 187vh;
    }

    .About-page h2 {
        position: relative;
        top: -10vh;
        font-size: 3rem;
    }

    .Profile-Team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4vh;
        width: 100%;
        height: 150vh;
        position: relative;
        left: 10vh;
    }

    .Profile-Team .CEO-container,
    .Programmers-container,
    .Designers-container {
        position: relative;
        top: -5vh;
        height: 50vh;
        padding-top: 25vh;
    }

    .Profile-Team .icon1,
    .icon2,
    .icon3 {
        width: 100px;
        height: auto;
        left: 17vh;
        top: -25vh;
        position: relative;
    }

    .Profile-Team .icon2 {
        width: 100px;
        height: auto;
        left: 17vh;
        top: -25vh;
        position: relative;
    }

    .Profile-Team .icon3 {
        width: 100px;
        height: auto;
        left: 17vh;
        top: -25vh;
        position: relative;
    }

    .Profile-Team p {
        top: -15vh;
        position: relative;
    }

    /*Profile About page*/
    .container {
        top: 20vh;
    }

    #profile-kert,
    #profile-mikel,
    #profile-bacani,
    #profile-faith,
    #profile-nashley,
    #profile-gadiel,
    #profile-gaufo,
    #profile-corcelles,
    #profile-precious,
    #profile-mendez,
    #profile-kerby,
    #profile-ellah,
    #profile-diez {
        left: 2vh;
    }

    #profile-kert .profile-name {
        left: -10vh;
    }

    #profile-faith .profile-name {
        left: -7vh;
    }

    #profile-faith ul {
        left: 8vh;
    }

    #profile-faith .Skills {
        left: 6vh;
    }

    #profile-faith .ed-at {
        left: 6vh;
    }

    #profile-mikel .profile-name {
        left: -1vh;
    }

    #profile-gadiel .profile-name {
        left: -7vh;
    }

    #profile-gaufo .profile-name {
        left: -13vh;
    }

    #profile-corcelles .profile-name {
        left: -5vh;
    }

    #profile-nashley .profile-name {
        left: -7vh;
    }

    #profile-precious .profile-name {
        left: -3vh;
        font-size: 32px;
    }

    #profile-precious ul {
        left: 8vh;
    }

    #profile-precious .Skills {
        left: 6vh;
    }

    #profile-precious .ed-at {
        left: 6vh;
    }

    #profile-bacani .profile-name {
        left: -6vh;
        top: -28vh;
    }

    #profile-mendez .profile-name {
        left: -7vh;
    }

    #profile-ellah .profile-name {
        left: -7vh;
    }

    #profile-diez .profile-name {
        left: -11vh;
    }

    #profile-kerby .profile-name {
        left: -5vh;
    }

    /*Services page*/
    .Service-page {
        padding-top: 65px;
        position: relative;
        top: 50vh;
        height: 230vh;
    }

    .Service-page h2 {
        position: relative;
        top: -10vh;
        font-size: 3rem;
    }

    .language-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4vh;
        width: 100%;
        height: 150vh;
        position: relative;
        left: 10vh;
}

    .language-container .WebDev-container,
    .Java-container,
    .AndroidApp-container {
        position: relative;
        top: 15vh;
        left: 13vh;
        height: 80vh;
        padding-top: 25vh;
    }

    .language-container .icon1 {
        width: 100px;
        height: auto;
        left: 17vh;
        top: -20vh;
        position: relative;
    }

    .language-container .icon2 {
        width: 100px;
        height: auto;
        left: 17vh;
        top: -20vh;
        position: relative;
    }

    .language-container .icon3 {
        width: 100px;
        height: auto;
        left: 17vh;
        top: -20vh;
        position: relative;
    }

    .language-container h5 {
        top: -15vh;
        position: relative;
    }

    .language-container .See_more {
        top: -7vh;
        position: relative;
    }

    .slider-wrapper {
        margin: 0 130px 55px;
    }

    /*Contact Page*/
    .Contact-page {
        height: 100vh;
        position: relative;
        top: 30vh;
    }

    .Contact-div {
        position: relative;
        top: 2vh;
    }

    .left-container,
    .text-details {
        display: none;
    }

    .contact-container {
        margin-top: 15vh;
        margin-bottom: 10vh;
    }

    .contact-container,
    .right-container {
        width: 70vh;
        height: 89vh;
        border-radius: 10px;
    }

    .footerContainer {
        position: relative;
        top: 40vh;
        height: 30vh;
        display: flex;
        font-size: 14px;
    }

    .footerContainer i {
        position: relative;
        top: 4.5vh;
    }

    .footerContainer .email p {
        position: relative;
        left: 7vh;
    }

    .footerContainer .page p {
        position: relative;
        left: 7vh;
    }

    .footerContainer .num p {
        position: relative;
        left: 7vh;
    }

    .footerContainer .address p {
        position: relative;
        left: 7vh;
    }

    .footerContainer .address {
        position: relative;
        left: 1vh;
        top: -2vh;
        height: 5vh;
        width: 100%;
    }

    .footerContainer .num {
        position: relative;
        right: 33vh;
        top: 15vh;
        height: 5vh;
        width: 100%;
    }

    .footerContainer .email {
        position: relative;
        top: -2vh;
        height: 5vh;
        right: 23vh;
        width: 10%;
    }

    .footerContainer .page {
        position: relative;
        top: 15vh;
        right: 34vh;
        height: 5vh;
        width: 100%;
    }

    .footerContainer .cdt {
        position: absolute;
        top: 14vh;
        left: 86vh;
        height: 5vh;
        width: 28%;
    }
    
}