@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Arial';
}

body {
    background-color: #e1e0e0;
    color: #fff;
    min-height: 100vh;
}

/*Navbar styles*/
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #181920;
    padding: 1rem 3.5rem;
    z-index: 1000;
    overflow: hidden;
}

.navbar .logo img {
    color: #fff;
    width: 90px;
    height: auto;
    margin-left: 30px;
    animation: slideRight 1s ease forwards;
}

.navbar-links {
    display: flex;
    list-style: none;
}

.navbar-links ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.navbar-links a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
    padding-right: 70px;
    transition: color 0.4s ease;
    opacity: 0;
    animation: slideTop .8s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar-links a:hover,
.navbar a .tab-active {
    color: #C9BC31;
}

.dropdown {
    display: none;
}

.dropdown ul,
a {
    flex-direction: column;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    list-style: none;
}

.menu-btn {
    display: none;
    cursor: pointer;
    font-size: 30px;
}

/*Page styles*/
.section {
    height: 100vh;
    padding: 8.5% 8%;
}

/*Home Page*/
.Home-page {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
    align-items: center;
    gap: 2rem;
}

.home-div {
    position: relative;
    top: 35vh;
    left: 15vh;
    width: 70%;
}

.Font-div h2 {
    width: 47%;
    font-size: 65px;
    padding-bottom: 10px;
    color: #030728;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid #65635f;
    animation: typing 2.8s steps(22) forwards, blink 1s step-end infinite, slideLeft .8s ease forwards;
}

.home-div h3 {
    padding-left: 20px;
    font-size: 27px;
    line-height: 35px;
    text-indent: 55px;
    color: rgb(84, 82, 82);
    animation: slideTop 1s ease forwards;
    animation-delay: .2s;
}

.navbtn a {
    font-size: 20px;
    font-weight: 500;
    position: relative;
    top: 5vh;
    left: 5vh;
    margin-right: 5vh;
    animation: slideTop 5s ease forwards;
}

.ContactPage_button {
    background: rgb(84, 82, 82);
    padding: 15px 60px 15px 60px;
    border-radius: 20px;
    
}

.ContactPage_button:hover {
    background-color: #3E3B39;
    transition: .2s ease-in-out;
}

.AboutPage_button {
    background: #C9BC31;
    padding: 15px 60px 15px 60px;
    border-radius: 20px;
}

.AboutPage_button:hover {
    background-color: #b6ab2f;
    transition: .2s ease-in-out;
}

.img-container {
    width: 73%;
    height: 100vh;
    position: absolute;
    top: -30vh;
    left: 84.5vh;
}

.img-container img {
    width: 100%;
    height: 100vh;
}

/*Reviews Details Page*/
.Reviews-page {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.Reviews-div {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    height: 100vh;
}

.left-rdiv {
    background-color: #2b2c37;
    height: 100vh;
    width: 50%;
}

.left-rdiv h3 {
    font-size: 54px;
    display: flex;
    justify-content: center;
    font-weight: 550;
    padding-top: 5vh;
    padding-bottom: 8vh;
    color: #C9BC31;
}

.left-rdiv .circle-icon {
    padding-left: 5vh;
    height: auto;
    width: 25vh;
}

.left-rdiv .fd {
    font-size: 20px;
}

.fd h2 {
    position: relative;
    top: -23vh;
    left: 30vh;
}

.fd p {
    position: relative;
    top: -19vh;
    right: 20vh;
}

.left-rdiv .fd h4 {
    position: relative;
    top: -8vh;
    float: right;
}

.left-rdiv .fd p {
    text-indent: 3vh;
    float: right;
}
.right-rdiv {
    background-color: #c9c9c9;
    height: 100vh;
    width: 50%;
}

.right-rdiv h3 {
    font-size: 54px;
    display: flex;
    justify-content: center;
    font-weight: 550;
    padding-top: 5vh;
    padding-bottom: 10px;
    color: #000;
}

.container-swiper {
    position: relative;
    top: 15vh;
}

.slide_wrapper {
    overflow: hidden;
    max-width: 100%;
    height: 50vh;
    margin: 0 130px 55px;
}

.card-list .card_item {
    color: #000;
    background-color: #776f6f4b;
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 8px;
}

.slide_wrapper .slide-button {
    color: #333333;
    margin: -30px 70px 35px;
    transition: .2s ease;
}

.slide_wrapper .slide-button:hover {
    color: #fff;
}

/*About Page*/
.About-page {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: #e1e0e0;
}

.About-div {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
}

.About-page h2 {
    display: flex;
    justify-content: center;
    font-size: 65px;
    font-weight: 500;
    padding-top: 13vh;
    padding-bottom: 80px;
    color: #050505;
    font-family: "Montserrat", sans-serif;
}

.Profile-Team {
    display: flex;
    width: 100%;
    height: 65vh;
    justify-content: center;
    padding-left: 95px;
    padding-right: 40px;
}

.Profile-Team .CEO-container,
.Programmers-container,
.Designers-container {
    background-color: #c9bc318c;
    margin-top: 1px;
    margin-right: 70px;
    width: 50vh;
    height: 60vh;
    position: relative;
    box-shadow: 0 8px px rgba(0, 0, 0, .2);
    border-radius: 20px;
}

.Profile-Team img {
    width: 150px;
    height: auto;
    color: #b4adad;
    padding-top: 10vh;
    left: 17vh;
    position: relative;
}

.Profile-Team .icon1,
.icon2 {
    position: relative;
    top: 5vh;
}

.Profile-Team p {
    font-size: 28px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    color: #000000;
    text-align: center;
}

.Designers-container p {
    position: relative;
    top: 17vh;
}

.CEO-container p {
    position: relative;
    top: 18vh;
}

.Programmers-container p {
    position: relative;
    top: 20vh;
}

/*Service Page*/
.Service-page {
    min-height: 103vh;
    height: 100%;
    width: 100%;
    position: relative;
    align-items: center;
    gap: 2rem;
    background-color: #c9c9c9;
}

.Service-page h2 {
    display: flex;
    font-size: 65px;
    padding-top: 13vh;
    font-weight: 600;
    color: #000000;
    justify-content: center;
}

.language-container {
    display: flex;
    width: 100%;
    height: 65vh;
    justify-content: center;
    padding-left: 95px;
    padding-right: 40px;
}

.language-container .WebDev-container,
.Java-container,
.AndroidApp-container {
    background-color: #3E3B39;
    margin-top: 5vh;
    margin-right: 70px;
    width: 50vh;
    height: 60vh;
    position: relative;
    box-shadow: 0 8px px rgba(0, 0, 0, .2);
    border-radius: 20px;
}

.language-container img {
    width: 150px;
    height: auto;
    color: #b4adad;
    padding-top: 5vh;
    left: 17vh;
    position: relative;
}

.language-container .icon1,
.icon2 {
    position: relative;
    top: 5vh;
}

.language-container h5 {
    font-size: 26px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.language-container .See_more {
    display: flex;
    position: relative;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    transition: .2s ease;
    color: #C9BC31;
    text-align: center;
}

.WebDev-container .See_more {
    position: relative;
    top: 25vh;
}

.WebDev-container h5 {
    position: relative;
    top: 15vh;
}

.Java-container .See_more {
    position: relative;
    top: 24vh;
}

.Java-container h5 {
    position: relative;
    top: 14vh;
}

.AndroidApp-container .See_more {
    position: relative;
    top: 14vh;
}

.AndroidApp-container h5 {
    position: relative;
    top: 5vh;
}

.language-container .See_more:hover {
    color: #fff;
}

/*Contact Page*/
.Contact-page {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
    align-items: center;
    gap: 2rem;
}

.contact-container {
    width: 140vh;
    height: 85vh;
    margin: auto;
    position: relative;
    top: 11vh;
    display: flex;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    animation: swingTop .8s linear forwards;
}

.left-container {
    background-color: #999898;
    width: 45%;
    height: 85vh;
    z-index: 10;
}

.text-details {
    font-family: monospace;
    padding-top: 10vh;
    margin: 80px 0px;
    padding: 30px;
}

.text-details b {
    color: #C9BC31;
}

.text-details p {
    color: #fff;
    font-size: 21px;
    padding: 50px;
}


.right-container {
    background-color: #181920;
    width: 55%;
    height: 85vh;
    z-index: 10;
}

.right-container h3 {
    font-size: 50px;
    text-align: center;
    padding: 50px;
    margin-top: 3vh;
    color: #C9BC31;
}

.right-container .input-box {
    position: relative;
    width: 100%;
    margin-top: 60px;
    color: #fff;
}

.right-container .input-box input,
.right-container .input-box textarea {
    padding: 5px 0;
    font-size: 24px;
    width: 80%;
    margin: 10px 0 0 50px;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: none;
    background: #181920;
    resize: none;
    color: #fff;
}

.right-container .input-box span {
    position: absolute;
    left: 50px;
    top: 10px;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: .5s;
    color: #a3a3a3;
}

.right-container .input-box input:focus~span,
.right-container .input-box input:valid~span,
.right-container .input-box textarea:focus~span,
.right-container .input-box textarea:valid~span {
    color: rgb(240, 196, 54);
    font-size: 14px;
    transform: translateY(-30px);
}

.right-container .input-box input[type="submit"] {
    width: 80%;
    background: #C9BC31;
    color: #030728;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    transition: .2s ease;
}

.right-container .input-box input[type="submit"]:hover {
    background: #5a5844;
    color: #fff;
}

.Confirm-message {
    display: none;
    color: rgb(244, 246, 244);
    font-size: 18px;
    margin: 10px;
    padding-top: 10px;
}

footer {
    color: #000;
}